<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.opengldemo" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".basic.BasicActivity" />
        <activity android:name=".ndk.NativeEGLActivity" />
        <activity android:name=".light.SpotLightActivity" />
        <activity android:name=".light.SpotLightActivity2" />
        <activity android:name=".solar.system.SolarActivity" />
        <activity android:name=".texture.TextureActivity" />
        <activity android:name=".blend.BlendActivity" />
        <activity android:name=".vao.VAOActivity" />
        <activity android:name=".uniformblock.UniformBlockActivity" />
        <activity android:name=".test.stencil.StencilActivity" />
        <activity android:name=".save.SaveActivity" />
        <activity android:name=".filter.CameraFilterActivity" />
        <activity android:name=".camera.CameraActivity" />
        <activity android:name=".camera2.Camera2Activity" />
        <activity android:name=".player.PlayerActivity" />
        <activity android:name=".demo.SimpleActivity" />
        <activity android:name=".demo.ProjectionActivity" />
        <activity android:name=".demo.SimpleSquareActivity" />
        <activity android:name=".demo.CubeActivity" />
        <activity android:name=".demo.TextureActivity" />
        <activity android:name=".demo.CameraPreviewActivity" />
    </application>

</manifest>